body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

#product-list {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    text-align: center;
}
